<div class="docs-section" id="about">

  <div class="docs-header">About the Workshop</div>
  <p>Over the past five decades, the field of provable security for symmetric cryptographic primitives has evolved significantly. Since the seminal works of Goldreich-Goldwasser-Micali and Luby-Rackoff, we have made tremendous progress on multiple fronts: new primitives and security notions capturing the evolving landscape of real-world protocols, sophisticated proof techniques, and tighter security bounds.<br>
    
    While this progress is commendable, there are still many unresolved challenges. At the same time, new attack vectors emerge daily, continuously challenging the community to refine and extend security notions and develop innovative new constructions.</p>

  <p>Through the GAPS workshop, we aim to bring together leading experts and early-career researchers to reflect on these developments, revisit long-standing open questions, and identify new avenues for future research.</p>

  <p>This year, the theme of the workshop is: <b>Five Decades of Provable Security of Symmetric Ciphers: Challenges and Future Developments.</b></p>

<p>The workshop will follow a Dagstuhl- and ASK-style format, with invited talks in the morning sessions, and group discussions in the afternoon sessions focusing on the following high-level topics:</p>
<ol>
  <li>Fine-tuning security bounds by bridging the gap between proofs and attacks.</li>
  <li>Proofs and attacks in the non-binary world.</li>
  <li>Exploring general proof techniques and foundational issues.</li>
  <li>Formulating new notions to capture novel threats to real-world applications of symmetric cryptography.</li>
  <li>Security against (post-)quantum adversaries.</li>
  <li>Security in the presence of leakage and fault.</li> 
  <li>Automated tools for security proof verification.</li>
</ol>
</div>
