<div class="docs-section" id="contact">
  <div class="docs-header">Contact</div>
  The workshop organizers can be contacted by email at <a href="mailto:gapsworkshop@gmail.com"><b>scopeworkshop2025@gmail.com</b></a>.
  
  <div class="value-prop row">
    <div class="five columns">
      <p>
        <b>Ashwin Jha</b><br>
        Symmetric Cryptography MC 1.40<br/>
        Faculty of Computer Science<br/>
        Ruhr-University of Bochum<br/>
        Universitätsstr. 150<br/>
        44801 Bochum, Germany
      </p>
    </div>
    <div class="five columns">
      <p>
        <b>Mustafa Khairallah</b><br>
        Division of Mathematical Sciences<br/>
        School of Physical and Mathematical Sciences<br/>
        Nanyang Technological University<br/>
        21 Nanyang Link, Singapore 637371
      </p>
    </div>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Sponsors</div>
    <p>
      The workshop is generously supported by our sponsors:
    </p>
    <div class="value-prop row">
      <div class="four columns value-prop">
        <a class="a-icon" href="https://www.ntu.edu.sg/research/research-careers/presidential-postdoctoral-fellowship-(ppf)" target="_blank">
          <img class="value-img" src="{{ site.imageurl | relative_url }}/ntu-nanyang-technological-university5674.jpg" alt="Nanyang Technological University">
        </a>
      </div>
      <div class="four columns value-prop">
        <a class="a-icon" href="https://kaw.wallenberg.org/en/grants" target="_blank">
          <img class="value-img" src="{{ site.imageurl | relative_url }}/kaw_logotype_large_en.jpg" alt="Knut and Alice Wallenberg Foundation">
        </a>
      </div>
    </div>
  </div>
</div>
