<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.organizers }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="google-site-verification" content="{{ site.google }}">
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  <!-- Style -->
  <link rel="stylesheet" href="{{ site.cssurl | relative_url }}/skeleton.css">
  <link rel="stylesheet" href="{{ site.cssurl | relative_url }}/custom.css">
  <title>{{ site.title }}</title>
</head>
