<div class="docs-section" id="speakers">
  <div class="docs-header">Invited Speakers</div>
  <p style="color: #1fc598; font-weight: bold font-size: small">
    (confirmed so far)
  </p>
  <div class="row">
    {% assign items = site.data.speakers | sort: "last" %}
    {% assign halfway = items.size | plus:1 | divided_by:2 %}
    <ul class= "six columns">
      {% for item in items limit:halfway %}
      <li>
	<b>{{ item.first }} {{ item.last }}</b> ({{ item.affiliation }})
      </li>
      {% endfor %}
    </ul>
    <ul class= "six columns">
      {% for item in items offset:halfway %}
      <li>
	<b>{{ item.first }} {{ item.last }}</b> ({{ item.affiliation }})
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
