<div class="docs-section" id="venue">
  <div class="docs-header">Venue and Travel</div>
  <p>
    The GAPS 2025 workshop will be held at NTU, Singapore.
  </p>

  <p>
    The invited talks will be held in Colloquium Seminar Room 2, #05-35, at the School of Physical and Mathematical Sciences (SPMS), while the group discussion rooms are also located within the SPMS building.
  </p>
  
  <div class="docs-subsection">
    <div class="docs-subheader">How to reach NTU?</div>
    <p>
      NTU is located in the western part of Singapore. The easiest way to get there is via the Green East-West Line (EWL) of the MRT. You can alight at Boon Lay station and take bus 179, 179A, or 199, or get off at Pioneer station and take the free campus rider (university shuttle bus).<br>

For public transportation, the most convenient payment method is a contactless debit or credit card. Alternatively, you can book taxis and private cars using the Grab mobile app. We are exploring additional options and will update this space in the future.<br><br>
      <b>Address:</b><br>
      School of Physical and Mathematical Sciences<br>
      Nanyang Technological University<br>
      21 Nanyang Link, Singapore 637371
    </p>
    <iframe class="map-view" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7237562664773!2d103.67901591064957!3d1.342120761594764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da0f75fad7f1a1%3A0x457b7ec46c3540b2!2sSchool%20of%20Physical%20and%20Mathematical%20Sciences%20(SPMS)!5e0!3m2!1sen!2sde!4v1743456182218!5m2!1sen!2sde" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" margin-bottom=30px></iframe>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Visa</div>
    <p>
      For most participants, a visa is not required to travel to Singapore. Please check <a href="https://www.ica.gov.sg/enter-transit-depart/entering-singapore/visa_requirements" target="_blank"><b>here</b></a> to see if you require a visa to enter Singapore.<br>

      If you need a visa and require an invitation letter for your application, please contact us at <a href="mailto:gapsworkshop@gmail.com"><b>gapsworkshop@gmail.com</b></a>, well in advance.
    </p>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Accommodation</div>
    <p>
      In central Singapore, you will find a wide range of hotels to suit all budgets and luxury levels, from capsule hotels to five-star accommodations. Please note that <b>short-term stays in private apartments via Airbnb are not permitted in Singapore</b>. We are also working on providing accommodation options near the campus and will share updates here in the future.
    </p>
  </div>
</div>
