<div class="docs-section" id="venue">
  <div class="docs-header">Venue and Travel</div>
  <p>
    The SCOPE 2025 workshop will be held at ?.
  </p>

  <p>
    The invited talks will be held .
  </p>
  
  <div class="docs-subsection">
    <div class="docs-subheader">How to reach?</div>
    <p>
      is located in .<br><br>
      <b>Address:</b><br>
      School <br>
      University<br>
      place
    </p>
    <iframe class="map-view" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7237562664773!2d103.67901591064957!3d1.342120761594764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da0f75fad7f1a1%3A0x457b7ec46c3540b2!2sSchool%20of%20Physical%20and%20Mathematical%20Sciences%20(SPMS)!5e0!3m2!1sen!2sde!4v1743456182218!5m2!1sen!2sde" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" margin-bottom=30px></iframe>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Visa</div>
    <p>
      For most participants, a visa is not required to travel to Singapore. Please check <a href="www.google.com" target="_blank"><b>here</b></a> to see if you require a visa to enter Singapore.<br>

      If you need a visa and require an invitation letter for your application, please contact us at <a href="mailto:scopeworkshop2025@gmail.com"><b>scopeworkshop2025@gmail.com</b></a>, well in advance.
    </p>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">Accommodation</div>
    <p>
      you will find a wide range of hotels to suit all budgets and luxury levels, from capsule hotels to five-star accommodations. 
    </p>
  </div>
</div>
